<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<RollingFile name="info_logfile" fileName="target/info.log"
		             filePattern="target/info-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS}|%level|%c|%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5"/>
		</RollingFile>
		<RollingFile name="debug_logfile" fileName="target/debug.log"
		             filePattern="target/debug-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS}|%level|%c|%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5"/>
		</RollingFile>
		<RollingFile name="error_logfile" fileName="target/error.log"
		             filePattern="target/error-%d{MM-dd-yyyy}-%i.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS}|%level|%c|%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="5"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="info_logfile" level="INFO"/>
			<AppenderRef ref="error_logfile" level="ERROR"/>
			<AppenderRef ref="debug_logfile" level="DEBUG"/>
			<AppenderRef ref="console"/>
		</Root>
	</Loggers>
</Configuration>