<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container-fluid">
	<div class="container-fluid">
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div id="loading" class="row"></div>
		<h2>Advertisers by Hour</h2>
		<div id="advertisers_by_hour"></div>
		<h2>Advertisers by Day</h2>
		<div id="advertisers_by_day"></div>
	</div>
</div>
<script type="text/javascript" src="js/statistics.js"></script>
</body>
</html>