<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container-fluid">
	<div class="container-fluid">
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div id="loading" class="row"></div>
		<h2>System Monitor</h2>
		<div id="gauges"></div>
		<h2>Status</h2>
		<div id="status"></div>
		<span id="database_status"></span> Database
		<br /><br />
		<span class="glyphicon glyphicon-hdd"></span> Disk free:<span id="disk_free"></span> / <span
			id="disk_total"></span>
		<br /><br />
		<span class="glyphicon glyphicon-time"></span> Uptime: <span id="uptime"></span>
	</div>
</div>
<script type="text/javascript" src="js/systemmonitor.js"></script>
</body>
</html>