<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container-fluid">
	<div class="container-fluid">
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div id="loading" class="row"></div>
		<h2>Advertiser requests filtered: <span class="label label-default" id="total_advertisers"></span></h2>
		<h2>Distinct advertisers filtered: <span class="label label-default" id="distinct_advertisers"></span></h2>
		<h2>Top Advertisers</h2>
		<div id="top_filtered_bar"></div>
	</div>
</div>
<script type="text/javascript" src="js/topfiltered.js"></script>
</body>
</html>