<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container-fluid">
	<div class="container-fluid">
		<nav th:replace="fragments/navbar :: navbar"></nav>
		<div id="loading" class="row"></div>
		<h2>Top Requested Domains</h2>
		<div class="row">
			<div id="query_types_pie" class="col-md-5"></div>
			<div id="top_requests_bar" class="col-md-6"></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/toprequests.js"></script>
</body>
</html>